
@media (min-width: 576px){
  .main-container{
    margin-right: -60px;
    margin-left: -60px;
  }
}

.dashboard {
  text-align: center;
}

.dashboard-card {
  width: 60%;
}

.footer {
  padding: 10px;
}

.card {
  text-decoration: none;
}

.banner {
  background-image: url("resources/cityBanner.jpg");
  background-size: cover;
  color: ghostwhite;
  text-shadow: 2px 2px black;
}

.menu-img {
  object-fit: cover;
  height: 120px;
}

.menu-text {
  color: ghostwhite;
  text-shadow: 1px 1px black;
}